.contact-zone {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: #83454857;
  height: 85vh;
  width: 100vw;
  padding-top: 2vh;
}

.contacts-title {
  font-size: 3em;
  font-weight: bold;
}

.contacts-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

.contact-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column nowrap;
  background-color: #E7DED9;
  border-radius: 1rem;
  padding: 1em;
  height: 20vh;
  width: 20vw;
}

.contact-cards > h2 {
  font-size: 2em;
}

@media screen and (max-width: 1200px) {
  .contacts-card-container { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 70vh;
  }

  .contact-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column nowrap;
    background-color: #E7DED9;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1em;
    height: 20vh;
    width: 95vw;
  }
}