.home-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 78vh;
  width: 100vw;
  overflow: scroll;
}

.home-greeting {
  display: flex;
  justify-content: center;
  background-image: url('../../assets/red-rocks-amp-exterior.jpg');
  background-size: cover;
  background-position: center;
  font-size: 3rem;
  padding-top: 2rem;
  height: 78vh;
  width: 100vw;
}