.navigation {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
  background-color: #986054;
  border-bottom: 3px solid black;
}

.name-heading {
  font-size: 3em;
  color: white;
  height: 7vh;
  cursor: pointer;
}

.media-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 7vh;
}

.media-images {
  height: 3rem;
  margin: 1vw;
}

@media screen and (max-width: 1280px) {
  .media-images {
    height: 2.5rem;
  }
  .media-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 7vh;
  }
}