.navigation {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
  background-color: #E7DED9;
}

.name-heading {
  font-size: 3em;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80vw;
}

.navbar a:link {
  text-decoration: none;
}

.navbar a:visited {
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}