.about-content {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(#83454857 ,#E7DED9);
  height: 85vh;
  width: 100vw;
}

.info-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 70vh;
}

.about-title {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 8vh;
  font-size: 3em;
  font-weight: bold;
  padding-top: 2vh;
}

.damon-about-image {
  width: 20vw;
  border: 2px solid black;
  border-radius: 50%;
}

.about-text {
  font-size: 1.5em;
  width: 55vw;
}

@media screen and (max-width: 1280px) {
  .about-text {
    font-size: 0.8em;
    width: 55vw;
  }
  .info-container {
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 77vh;
  }
}