.about-content {
  display: flex;
  flex-flow: row no-wrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #83454857;
  height: 85vh;
  width: 100vw;
  padding: 2vh;
}

.text-container {
  display: flex;
  flex-flow: row wrap;
  width: 40vw;
  height: 78vh;
}

.about-title {
  font-size: 3em;
  font-weight: bold;
}

.damon-about-image {
  width: 40vw;
  border: 2px solid black;
  border-radius: 50%;
}

.about-text {
  font-size: 1rem;
}