.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #aa6458c7;
  height: 7vh;
}

.footer a {
  align-items: center;
  color: black;
  font-size: 2rem;
}

.footer a:link {
  text-decoration: none;
}

.footer a:visited {
  text-decoration: none;
}

.footer-images {
  height: 3rem;
}