.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: grey;
  height: 10vh;
}

.footer a {
  align-items: center;
  color: black;
}

.footer a:link {
  text-decoration: none;
}

.footer a:visited {
  text-decoration: none;
}

.footer-images {
  height: 4rem;
}