.projects-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background-color: #E7DED9;
  height: 85vh;
  width: 100vw;
  padding-top: 2vh;
}

.projects-title {
  font-size: 3em;
  font-weight: bold;
}

.card-zone {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

.project-cards {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #83454857;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 1em;
  height: 20vh;
  width: 15vw;
  text-align: center;
}

.project-cards a:link {
  font-size: 1.5em;
  color: black;
}

.project-cards a:visited {
  font-size: 1.5em;
  color: black;
}

.project-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  height: 16vh;
}

.project-images {
  width: 15vw;
  height: 14vh;
}

@media screen and (max-width: 1280px) {
  .card-zone { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 70vh;
  }

  .project-cards {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #83454857;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1em;
    height: 20vh;
    width: 95vw;
    text-align: center;
  }
}

@media screen and (min-width: 1281px) {
  .card-zone { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 70vh;
  }
  
  .project-cards {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #83454857;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1em;
    height: 20vh;
    width: 95vw;
    text-align: center;
  }

  .project-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    height: 16vh;
  }
  
  .project-images {
    width: 15vw;
    height: 14vh;
  }
}